.facebook:hover {
  color: #3B5998;
}

.mail:hover {
  background: linear-gradient(135deg, #4285F4 20%, #EA4335 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instagram:hover {
  background: linear-gradient(135deg, #515BD4 20%, #F58529 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.twitter:hover {
  color: #00ACEE;
}
